.nupp {
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #B9CBC8;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0;
    padding: 0;
  }
  
.tekstinupp{
  display: flex;
  width: 500px;
  height: 250px;
  background-color: #B9CBC8;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 0;
  padding: 0;

}


  .nupp:hover, .tekstinupp:hover {
    background-color: #D4E7E3;
    margin: 0;
    padding: 0;
  }

body {
  margin: 0;
  padding: 0;
}



.kiri {
  color: white;
  font-size: 36px;
  font-family: 'Passion One', sans-serif;
  margin: 0;
  padding: 0;
}

#all {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  transition: background-image 0.5s ease-in-out;
}

.läbipaistev-nupp {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.läbipaistev-nupp .ikoon {
  font-size: 36px; /* Muuda vastavalt soovitud ikooni suurusele */
  color: #FFF; /* Ikooni värv */
  font-family: 'Passion One', sans-serif;
}

.läbipaistev-nupp .tekst {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #DBD4C7; /* Tumeda tausta värv */
  color: black; /* Teksti värv */
  font-family: 'Passion One', sans-serif;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.läbipaistev-nupp:hover .tekst {
  opacity: 1;
}

.esimene-nupp {
  /* Esimese nupu jaoks erinevad asukoha stiilid */
  top: 50px; /* Muuda vastavalt soovitud asukohale */
  left: 500px; /* Muuda vastavalt soovitud asukohale */
}

.teine-nupp {
  /* Teise nupu jaoks erinevad asukoha stiilid */
  top: 50px; /* Muuda vastavalt soovitud asukohale */
  left: 700px; /* Muuda vastavalt soovitud asukohale */
}

.tekstiväli {
  /* Teise nupu jaoks erinevad asukoha stiilid */
  top: 50px; /* Muuda vastavalt soovitud asukohale */
  left: 100px; /* Muuda vastavalt soovitud asukohale */
}