body {background-color: #edefe2; font-family: 'DM Serif Display', serif;}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');



.left-section,
.right-section {
    padding: 20px;
}
.left-section{
flex-direction: column;
height: 100%;

}
.container {
    display: flex;
    justify-content: space-between;
}
.right-section {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; 
}
