body {
    background-color: rgb(234, 232, 214);
}

#PEALKIRJAD {
    color: #1F2555;
    font-size: 60px;
    font-family: office;
    text-align: right;
   
}

#TEKST {
    color: #1F2555;
    font-size: 30px;
    font-family: office;
    text-align: left;
   
}

.container1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20vh; 
    background-color: #aeab9b;
    padding-right: 20px;
}

.paremal {
    display: grid;
    place-items: end;
    padding-right: 20px;
}

.vasakul {
    display: grid;
    place-items: start;
    padding-right: 20px;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 50%;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 37%;
}
  
@font-face {
    font-family: office;
    src: url(font.ttf);
}